[Desktop Entry]
Name=Commander
Comment=File manager for RG-350
Exec=commander
Icon=commander
Terminal=false
Type=Application
StartupNotify=true
Categories=applications;
X-OD-Manual=readme.gcw0.txt
