BasedOnStyle: webkit
AccessModifierOffset: -2
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
ColumnLimit: 80
IndentCaseLabels: true
PointerAlignment: Right
SortIncludes: true
TabWidth: 4
UseTab: false
