Package: DinguxCommander
Version: 20190202
Description: Commander file management tool
Section: apps
Priority: optional
Maintainer: jbanes
Architecture: mipsel
Homepage: https://github.com/jbanes/rs97-commander
Depends:
Source: https://github.com/jbanes/rs97-commander
